{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="APPNUM">
  <h1>
  App # : {{ appNum }}
  </h1>
</div>
<div class="GENERAL_INFO">
  <div class="GENERAL_INFO_ITEM">
    <h2>ERRORS</h2>
    {% for each in data['ERRORS'] %}
      <div class="ERRORS">
        {{each}} : {{ data['ERRORS'][each] }}
      </div>
    {% endfor %}
  </div>
  <div class="GENERAL_INFO_ITEM">
    <h2>GIS VALUES</h2>
    {% for each in data['GIS_VALUES'] %}
    <table>
      <tr>
        <td>
          {{each}}
        </td>
        <td>
          {{ data['GIS_VALUES'][each] }}
        </td>
      </tr>
    </table>
    {% endfor %}
  </div>
</div>
<div class="APP">
  <table>
    <tr>
      <th>TYPE</th>
      <th>CURRENT</th>
      <th>RECOMMENDATION</th>
    </tr>
    {% for each in data['APP_VALUES'] %}
      <tr>
        <td>
          {{ each }}
        </td>
        <td>
          {{ data['APP_VALUES'][each] }}
        </td>
        {% if data['RECOMMENDATION'][each] == data['APP_VALUES'][each] %}
        <td>
          {{  data['RECOMMENDATION'][each] }}
        </td>
        {% else %}
        <td class="flagged">
          {{  data['RECOMMENDATION'][each] }}
        </td>
        {% endif %}
      </tr>
    {% endfor %}
  </table>
</div>
<form method="post">
  <input type="submit" name="submit" value="NEXT">
</form>
{% endblock %}
