{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="form">
  <div class="form-container-large">
  <img src="{{ url_for('static', filename='images/SenecaCountyBWseal_CLEAR_BACKGROUND.png')}}" alt="">
  <h1>CAUV Renewal Application Form</h1>
  {% if new_app != None %}
  <span class="flagged">
    This application was last submitted on :
    {{ new_app.date_added }}
  </span>
  {% endif %}
  <p> APP#: {{ app.AG_APP }}</p>
  <p> Total Deed Acres: {{ app.Parcels_Combined_Acres }}</p>
    <form method="post">
      {{ item5_dict['Parcel_Change_Check'][4] }}
      {% for subfield in form.Parcel_Change_Check %}
        {{ subfield(required="") }}
        {{ subfield.label }}
      {% endfor %}
      <div>
      {{ form.Parcel_Change_Note.label }}
      </div>
      {{ form.Parcel_Change_Note }}
      <table>
        <tr>
          <th colspan="2">Farmed Acres</th>
          <th colspan="2">Use of Land (crop)</th>
          <th colspan="2">Units/Acre</th>
          <th colspan="2">Price/Unit</th>
          <th colspan="2">Gross Income</th>
        </tr>
        <tr>
          <td> Previous </td>
          <td> Current </td>
          <td> Previous </td>
          <td> Current </td>
          <td> Previous </td>
          <td> Current </td>
          <td> Previous </td>
          <td> Current </td>
          <td> Previous </td>
          <td> Current </td>
        </tr>
        {% for each in income_dict %}
        <tr>
          {% for item in income_dict[each] %}
          <td> {{ income_dict[each][item][1] }}</td>
          <td> {{ income_dict[each][item][3](class="form-control", value=income_dict[each][item][0]) }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <table>
        <tr>
          <th>Anticipated land use for the current year</th>
          <th>Previous Acres</th>
          <th>Current Acres</th>
        </tr>
        {% for each in land_dict %}
        <tr>
          <td>{{ land_dict[each][4] }}</td>
          <td>{{ land_dict[each][1] }}</td>
          <td>{{ land_dict[each][3](class="form-control", value=land_dict[each][0]) }}</td>
        </tr>
        {% endfor %}
      </table>
    {{ form.submit }}
  </form>
  <form action="/app_search">
    <input type="submit" name="submit" id="submit" value="Go Back to Search">
  </form>
    <div class="sign_link">
      <a href="/logout">Log Out</a>
    </div>
  </div>
</div>
{% endblock %}
