{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="APPNUM">
  <h1>
  App # : {{ appNum }}
  </h1>
</div>
<div class="GENERAL_INFO">
  <div class="GENERAL_INFO_ITEM">
    <h2>ERRORS</h2>
    {% for each in errors %}
      <div class="ERRORS">
        {{each}}
      </div>
    {% endfor %}
  </div>
  <div class="GENERAL_INFO_ITEM">
    <h2>RECOMMENDATION ERRORS</h2>
    {% for each in recommendation_errors %}
      <div class="">
        {{each}}
      </div>
    {% endfor %}
  </div>
  <div class="GENERAL_INFO_ITEM">
    <h2>PARCELS</h2>
    <table>
      {% for each in AG_LAND_parcels %}
      <tr>
        <td>
          {{ each['PARID'] }}
        </td>
        <td>
          {{ each["PARCEL_ACREAGE"]}}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td>
          Total
        </td>
        <td>
          {{AG_LAND_parcel_sum}}
        </td>
      </tr>
    </table>
  </div>
  <div class="GENERAL_INFO_ITEM">
    <h2>AG LAND</h2>
    <table>
      {% for each in AG_LAND_land %}
      <tr>
        <td>
          {{ each['LAND_USE_TYPE'] }}
        </td>
        <td>
          {{ each['LAND_USE_ACRES'] }}
        </td>
      </tr>
      {% endfor %}
      <tr>
        <td>
          Total
        </td>
        <td>
          {{AG_LAND_land_sum}}
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="APP">
  <table>
    <tr>
      <th>TYPE</th>
      <th>CURRENT</th>
    </tr>
    {% for each in current['APP_VALUES'] %}
      <tr>
        <td>
          {{ each }}
        </td>
        <td>
          {{ current['APP_VALUES'][each] }}
        </td>
      </tr>
    {% endfor %}
    <tr>
      <td>TOTAL</td>
      <td>
        {{ current_sum }}
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>RECOMMENDATION</th>
    </tr>
    {% for each in recommendation %}
    <tr>
      <td>
          {{ recommendation[each] }}
      </td>
    </tr>
    {% endfor %}
    <tr>
      <td>
        {{ recommendation_sum }}
      </td>
    </tr>
  </table>
  <table>
    <tr>
      <th>RECO_MODEL_VIEW</th>
    </tr>
    {% for each in recommended['APP_VALUES'] %}
    <tr>
      <td>
          {{ recommended['APP_VALUES'][each] }}
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
<form method="post">
  <input type="submit" id="submit" name="submit" value="NEXT">
</form>
{% endblock %}
