{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="form">
  <div class="form-container-small">
    <img src="{{ url_for('static', filename='images/SenecaCountyBWseal_CLEAR_BACKGROUND.png')}}" alt="">
    <h1>CAUV Form</h1>
    {{ error[0] }}
    <form method="POST">
      <div>{{ form.search(class="form-control", placeholder="Search App Number...") }}</div>
      <div>{{ form.submit }}</div>
    </form>
    {% if admin==1 %}
    <div>
    <form class="" action="/signup">
      <input type="submit" name="submit" id="submit" value="Add a User">
    </form>
    <form class="" action="/view/User">
      <input type="submit" name="submit" id="submit" value="View All Users">
    </form>
    <form class="" action="/view/CAUVApp">
      <input type="submit" name="submit" id="submit" value="View Submitted Apps">
    </form>
    </div>
    {% endif %}
    <div class="sign_link">
      <a href="/logout">Log Out</a>
    </div>
  </div>
</div>
{% endblock %}
