{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="form">
  <div class="form-container-large">
    <img src="{{ url_for('static', filename='images/SenecaCountyBWseal_CLEAR_BACKGROUND.png')}}" alt="">
  <h1>CAUV Form</h1>
  <p> APP#: {{ app.AG_APP }}</p>
  <p> Total Deed Acres: {{ app.Parcels_Combined_Acres }}</p>
  <div>
    <form method="post">
      <div>
        {{ form.Parcel_Change_Check.label }}
      </div>
      {{ app.Parcel_Change_Check }}
      {% if app.Parcel_Change_Note != '' %}
      <div>
        {{ app.Parcel_Change_Note }}
      </div>
      {% endif %}
      <table>
        <tr>
          <th colspan="2">Farmed Acres</th>
          <th colspan="2">Use of Land (crop)</th>
          <th colspan="2">Units/Acre</th>
          <th colspan="2">Price/Unit</th>
          <th colspan="2">Gross Income</th>
        </tr>
        <tr>
          <td> Previous </td>
          <td> Current </td>
          <td> Previous </td>
          <td> Current </td>
          <td> Previous </td>
          <td> Current </td>
          <td> Previous </td>
          <td> Current </td>
          <td> Previous </td>
          <td> Current </td>
        </tr>
        {% for each in income_dict %}
          <tr>
          {% for items in income_dict[each] %}
            {% if income_dict[each][items][1] != income_dict[each][items][2] %}
            <td class="flagged">{{ income_dict[each][items][1] }}</td>
            <td class="flagged">{{ income_dict[each][items][2] }}</td>
            {% else %}
            <td>{{ income_dict[each][items][1] }}</td>
            <td>{{ income_dict[each][items][2] }}</td>
            {% endif %}
          {% endfor %}
          </tr>
        {% endfor %}
      </table>
      <table>
        <tr>
          <th>Anticipated land use for the current year</th>
          <th>Previous Acres</th>
          <th>Current Acres</th>
        </tr>
        {% for each in land_dict %}
        <tr>
          {% if land_dict[each][1] == land_dict[each][2] %}
            <td>{{ land_dict[each][4] }}</td>
            <td>{{ land_dict[each][1] }}</td>
            <td>{{ land_dict[each][2] }}</td>
          {% else %}
            <td class="flagged">{{ land_dict[each][4] }}</td>
            <td class="flagged">{{ land_dict[each][1] }}</td>
            <td class="flagged">{{ land_dict[each][2] }}</td>
          {% endif %}
        </tr>
        {% endfor %}
      </table>
      {{ form.submit }}
    </form>
    <form class="" action="/app_search">
      <input type="submit" name="submit" id="submit" value="Go Back to Search">
    </form>
  </div>
  <div class="sign_link">
  <a href="/logout">Log Out</a>
  </div>
</div>
</div>
{% endblock %}
