{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
<div class="content">
  <div class="form">
  <div class="form-container-large">
    <img src="{{ url_for('static', filename='images/SenecaCountyBWseal_CLEAR_BACKGROUND.png')}}" alt="">
    <h1>CAUV Form</h1>
    <div class="scroll">
      <table>
        {% if model == 'CAUVApp' %}
        <tr>
          <td> id </td>
          <td> user </td>
          <td> AG_APP </td>
          <td> Parcel_Change_Check </td>
          <td> Parcel_Change_Note </td>
          <td> Parcels_Combined_Acres </td>
          <td> Commodity_Acres </td>
          <td> Hay_Acres </td>
          <td> Perm_Pasture_Acres </td>
          <td> Noncommercial_Wood_Acres </td>
          <td> Commerical_Wood_Acres </td>
          <td> Other_Crop_Acres </td>
          <td> Homesite_Acres </td>
          <td> Road_Waste_Pond_Acres </td>
          <td> CRP_Acres </td>
          <td> Con25_Acres </td>
          <td> Other_Use_Acres </td>
          <td> Stated_Total_Acres </td>
          <td> Farmed_Acres_1 </td>
          <td> Use_of_Land_1</td>
          <td> Units_Acre_1 </td>
          <td> Price_Unit_1 </td>
          <td> Gross_Income_1 </td>
          <td> Farmed_Acres_2 </td>
          <td> Use_of_Land_2</td>
          <td> Units_Acre_2 </td>
          <td> Price_Unit_2 </td>
          <td> Gross_Income_2 </td>
          <td> Farmed_Acres_3 </td>
          <td> Use_of_Land_3</td>
          <td> Units_Acre_3 </td>
          <td> Price_Unit_3 </td>
          <td> Gross_Income_3 </td>
          <td> date_added </td>
        </tr>
      {% for each in rows %}
        <tr>
          <td>{{ each.id }}</td>
          <td>{{ each.user }}</td>
          <td>{{ each.AG_APP }}</td>
          <td>{{ each.Parcel_Change_Check }}</td>
          <td>{{ each.Parcel_Change_Note }}</td>
          <td>{{ each.Parcels_Combined_Acres }}</td>
          <td>{{ each.Commodity_Acres }}</td>
          <td>{{ each.Hay_Acres }}</td>
          <td>{{ each.Perm_Pasture_Acres }}</td>
          <td>{{ each.Noncommercial_Wood_Acres }}</td>
          <td>{{ each.Commerical_Wood_Acres }}</td>
          <td>{{ each.Other_Crop_Acres }}</td>
          <td>{{ each.Homesite_Acres }}</td>
          <td>{{ each.Road_Waste_Pond_Acres }}</td>
          <td>{{ each.CRP_Acres }}</td>
          <td>{{ each.Con25_Acres }}</td>
          <td>{{ each.Other_Use_Acres }}</td>
          <td>{{ each.Stated_Total_Acres }}</td>
          <td>{{ each.Farmed_Acres_1 }}</td>
          <td>{{ each.Use_of_Land_1}}</td>
          <td>{{ each.Units_Acre_1 }}</td>
          <td>{{ each.Price_Unit_1 }}</td>
          <td>{{ each.Gross_Income_1 }}</td>
          <td>{{ each.Farmed_Acres_2 }}</td>
          <td>{{ each.Use_of_Land_2}}</td>
          <td>{{ each.Units_Acre_2 }}</td>
          <td>{{ each.Price_Unit_2 }}</td>
          <td>{{ each.Gross_Income_2 }}</td>
          <td>{{ each.Farmed_Acres_3 }}</td>
          <td>{{ each.Use_of_Land_3}}</td>
          <td>{{ each.Units_Acre_3 }}</td>
          <td>{{ each.Price_Unit_3 }}</td>
          <td>{{ each.Gross_Income_3 }}</td>
          <td>{{ each.date_added }}</td>
        </tr>
      {% endfor %}
      {% endif %}
      {% if model == 'User' %}
      <tr>
        <td>id</td>
        <td>username</td>
        <td>password</td>
        <td>date_created</td>
      </tr>
      {% for each in rows %}
      <tr>
        <td>{{ each.id }}</td>
        <td>{{ each.username }}</td>
        <td>{{ each.password }}</td>
        <td>{{ each.date_created }}</td>
      </tr>
      {% endfor %}
      {% endif %}
      </table>
    </div>
    <form action="/app_search">
      <input type="submit" name="submit" id="submit" value="Go to Search">
    </form>
    <div class="sign_link">
    <a href="/logout">Log Out</a>
    </div>
  </div>
  </div>
</div>
{% endblock %}
